<h5 class="title">Proyectos</h5>
<div class="row row-cols-1  row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="img-container">
        <img src="../../../assets/encriptador web.jpeg" class="card-img-top"  id="sepia" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">ENCRIPTADOR</h5>
          <p class="card-text">Challenge de Alura y Oracle. <br> 2022 </p>
          <a href="https://noegraf.github.io/Encriptador/"  class="btn btn-primary active">
           Ver proyecto
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="img-container" >
        <img src="../../../assets/landing web.jpeg" class="card-img-top"  id="sepia" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title">LANDING PAGE</h5>
          <p  class="card-text">Landing page, challenge de FrontendMentor. <br> 2021</p>
          <a href="https://noegraf.github.io/landingpage-ej3/"  class="btn btn-primaryactive">
            Ver proyecto
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="img-container">
        <img src="../../../assets/qr.jpeg" class="card-img-top"  id="sepia" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">QR CARD</h5>
          <p class="card-text">Tarjeta QR, challenge de FrontendMentor. <br> 2021</p>
          <a href="https://noegraf.github.io/ejercicio1-QR/"  class="btn btn-primaryactive">
            Ver proyecto
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="img-container">
        <img src="../../../assets/tarjeta delaplanta.jpeg" class="card-img-top"  id="sepia" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Tarjeta de contacto, challenge de FrontendMentor. <br> 2021</p>
          <a href="https://noegraf.github.io/DelaPlanta/"  class="btn btn-primaryactive">
             Ver proyecto
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="img-container">
        <img src="../../../assets/cousha present cv.png" class="card-img-top"  id="sepia" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">COUSHA UX/UI</h5>
          <p class="card-text">Proyecto final de investigación y diseño de aplicación movil. <br>
            2022</p>
          <a href="https://noegraf.github.io/DelaPlanta/" class="btn btn-primary  active">
             Ver proyecto
        </a>
        </div>
      </div>
    </div>
   
  </div>