
.imagen-perfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
   height: 80px;
   width: 160px;
   margin-right: 24px;

}

#img{
   
    max-width: 160px;
   
    height: fit-content;
    max-height: -webkit-fill-available;
}




/*
a {
    margin: 8px;
}

.title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;

color: #343434;
}

.col.botones{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;
  }

.div.col.botones {
    width: 80px;
  }


*/

.text-area {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}




.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    height: 200px;
    align-content: center;
    justify-content: flex-start;
    border: none;
    box-shadow: none;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

.row{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}