<h5 class="title">Formación</h5>

<div class="container">

  <div *ngIf="isloged()" class="text" >
    <button type="button" class="btn btn-succes" (click)="openFormModal('add')">
      <a class="nav-link">Añadir Formacion <span class="sr-only">(current)</span></a>
    </button>
  </div>



  <div class="row-card">
    <div id="even" cdkDropList [cdkDropListData]="formaciones" cdkDropListConnectedTo="even"
      (cdkDropListDropped)="onDrop($event)"  #formacionList="cdkDropList" class="col onDropAction">
      <div class="card-body" *ngFor="let formacion of formaciones " cdkDrag [cdkDragData]="formacion" [cdkDragDisabled]="!isloged()"
        cdkDragPreviewContainer="parent">
        <div class="col botones" *ngIf="isloged()">
          <a (click)="openFormModal('edit', formacion)" class="btn btn-primary tooltips" data-placement="top"
            data-toggle="tooltip" data-original-title="Edit"><i class="bi bi-pencil-square"></i></a>

          <a (click)="openFormModal('delete', formacion)" class="btn btn-danger tooltips" data-placement="top"
            data-toggle="tooltip" data-original-title="Delete">
            <i class="bi bi-trash"></i></a>
        </div>

        <div class="row-contenido">
          <div class="col">
            <div class="card">
              <div class="imagen-perfil">
                <img id="img" src="../../../assets/{{formacion.img}}" alt="imagen institucion">
              </div>


              <div class="text-area">
                <h5 class="card-title"> {{formacion.nombre}} </h5>
                <p class="card-text"> {{formacion.institucion}} </p>
                <p class="card-text"><small class="text-muted"> {{formacion.fecha}} </small></p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--Añadir formacion-->

<div class="modal fade" id="addFormacionModal" tabindex="-1" role="dialog" aria-labelledby="addFormacionModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFormacionModalLabel">Añadir Formacion</h5>
        <!--   <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>


      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddFormacion(addForm)">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre formacion"
              required>
          </div>
          <div class="form-group">
            <label for="institucion">Nombre Institución</label>
            <input type="text" ngModel name="institucion" class="form-control" id="institucion"
              placeholder="Nombre institucion" required>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="number" ngModel name="fecha" class="form-control" id="institucion" placeholder="Fecha"
              required>
          </div>
          <div class="form-group">
            <label for="img">Imagen institucion</label>
            <input type="text" ngModel name="img" class="form-control" id="img" placeholder="Agregar imgagen" required>
          </div>

          <div class="modal-footer">
            <button type="button" id="add-formacion-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button [disabled]="addForm.invalid" type="submit" id="add-formacion-form" class="btn btn-primary">Guardar
              cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal editar formacion-->
<div class="modal fade" id="editFormacionModal" tabindex="-1" role="dialog" aria-labelledby="editFormacionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFormacionModalLabel">Editar Formacion {{editFormacion?.nombre}} </h5>
        <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>

      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="hidden" ngModel=" {{editFormacion?.id}} " name="id" class="form-control" id="id"
              aria-hidden="true" />
            <input type="text" ngModel=" {{editFormacion?.nombre}} " name="nombre" class="form-control" id="nombre"
              aria-describedby="nameHelp" placeholder="Nombre formacion" />

            <label for="institucion">Institucion</label>
            <input type="text" ngModel=" {{editFormacion?.institucion}} " name="institucion" class="form-control"
              id="institucion" aria-describedby="emailHelp" placeholder="Nombre institucion" />

            <label for="fecha">Fecha</label>
            <input type="number" ngModel=" {{editFormacion?.fecha}} " name="fecha" class="form-control" id="fecha"
              placeholder="Fecha cursada" />

          </div>

          <div class="form-group">
            <label for="img">Imagen Url</label>

            <input type="text" ngModel=" {{editFormacion?.img}} " name="img" class="form-control" id="img"
              placeholder="Imagen institucion" />

          </div>

          <div class="modal-footer">
            <button type="button" id="1" class="btn btn-secondary" data-dismiss="modal">
              Cerrar</button>
            <button *ngIf="isloged()" (click)="onUpdateFormacion(editFormacion.id, editForm.value)" data-dismiss="modal"
              class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Edit">Guardar
              cambios</button>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>


<!-- Delete modal -->
<div class="modal fade" id="deleteFormacionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Eliminar Formacion</h5>
        <!-- <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
      </div>

      <div class="modal-body">
        <p>
          ¿Estas seguro de querer eliminar esta formacion?
          {{deleteFormacion?.nombre}}?
        </p>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

          <button (click)="onDeleteFormacion(deleteFormacion!.id)" class="btn btn-danger"
            data-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Notification for no educations -->
<div *ngIf="formaciones?.length == 0 && isloged()" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay educacion!</h4>
    <p>No se encontró ninguna educacion</p>
  </div>
</div>
<!-- Notification for no data -->
<div *ngIf="formaciones?.length == 0 && !isloged()" class="col-lg-12 col-md-12 col-xl-12 spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- Cancelar drop si no esta logueado

<div *ngIf="!isloged()" class="cdkDropList">
  <div class="cdk-drag-disabled" >
  </div>
</div>

-->
