<h5 class="title">Experiencia</h5>

<div class="row row-cols-1">
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/tapa a.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Diseñadora freelance</h5>
          <p class="card-text">Más de 100 trabajos realizados para distintos
            rubros y clientes: naming, branding, diseño de imagen corporativa, motion graphics,
            diseño de packaging, diseño industrial,
            estrategia de comunicación, modelado 3d y
            render, community manager.
           </p>
          <p class="card-text"><small class="text-muted">2010 - Actualidad</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/tapa a.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Diseñadora</h5>
          <p class="card-text">Diseño de gráficas, álbum e imagen digital
            para el proyecto artístico “Caramba”
           </p>
          <p class="card-text"><small class="text-muted">2016 - 2019</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>