<div class="redes" >
  <a href="https://www.behance.net/nouvgraf"> <img src="../../../assets/behance.svg" id="behance"></a>
  <a href="https://github.com/Noegraf"> <img src="../../../assets/github.svg" id="github"></a>
  <a href="mailto:nouvalle.graf@gmail.com?subject=%20Contacto por CV"> <img src="../../../assets/google.svg" id="google"></a>
  <a href="https://www.linkedin.com/in/noelia-valle/"> <img src="../../../assets/linkedin.svg" id="linkedin"></a>
  <a href="https://walink.co/47358e"> <img src="../../../assets/whatsapp.svg" id="whatsapp"></a>
</div>