<div class="row">
    <div id="foto-perfil"  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5>Noelia Valle</h5>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div id="texto-acercade" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       
    <span>
        <h3 >¡Hola!</h3>
        <p> Soy autodidacta por naturaleza. Cuento con gran facilidad para adquirir las herramientas que cada proyecto me demande. Tengo buena comunicación y habilidades sociales, me siento muy cómoda trabajando en equipo. Adaptabilidad y creatividad en pos de los objetivos del grupo.
            Desde que empezó la pandemia me enfoque en estudiar programación de manera autodidacta.
            Tengo buen nivel en la gestión del aprendizaje. Me destaco en aprender todo tipo de temas de forma recreativa. Aprendo deliberadamente de todas las experiencias que vivo.</p>
    </span>
</div>
</div>