.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
   /* gap: 24px; */
   

    height: 56px;
}

#logoAP {
    width: 91.08px;
    height: 56px;
}

#logoIN {
    width: 185.35px;
    height: 56px;
}