
.col#list-item-2#list-item-3#list-item-4{
   
    z-index: 0;
  
}

#paginas{
  
    position:fixed;
    transform: translate(-70px);
    z-index: 20;
}

.list-group-item.active {
    
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.nav#paginas{
    margin-right: -70px;
}


.scrollspy-example{
    gap: 8px;
}

.list-group-item-action{
    text-align: center;
}

